Source: kf6-kauth
Section: libs
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Aurélien COUDERC <coucouf@debian.org>,
           Patrick Franz <deltaone@debian.org>,
Build-Depends: cmake (>= 3.16~),
               debhelper-compat (= 13),
               dh-sequence-kf6,
               dh-sequence-pkgkde-symbolshelper,
               doxygen,
               extra-cmake-modules (>= 6.6.0~),
               libkf6coreaddons-dev (>= 6.6.0~),
               libkf6windowsystem-dev (>= 6.6.0~),
               libpolkit-qt6-1-dev (>= 0.200.0-2~),
               libxkbcommon-dev,
               pkgconf,
               qt6-base-dev (>= 6.5.0+dfsg~),
               qt6-tools-dev (>= 6.5.0~),
Standards-Version: 4.7.0
Homepage: https://invent.kde.org/frameworks/kauth
Vcs-Browser: https://salsa.debian.org/qt-kde-team/kde/kf6-kauth
Vcs-Git: https://salsa.debian.org/qt-kde-team/kde/kf6-kauth.git
Rules-Requires-Root: no

Package: libkf6auth-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Abstraction to system policy and authentication features
 KAuth is a framework to let applications perform actions as a
 privileged user.
 .
 KAuth is part of KDE Frameworks 6.
 .
 This package contains data files.

Package: libkf6auth-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libkf6auth-dev-bin (= ${binary:Version}),
         libkf6authcore6 (= ${binary:Version}),
         libkf6coreaddons-dev (>= 6.6.0~),
         ${misc:Depends},
Recommends: libkf6auth-doc (= ${source:Version}),
Description: Abstraction to system policy and authentication features
 KAuth is a framework to let applications perform actions as a
 privileged user.
 .
 KAuth is part of KDE Frameworks 6.
 .
 This package contains development files for kauth.

Package: libkf6auth-dev-bin
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Abstraction to system policy and authentication features
 KAuth is a framework to let applications perform actions as a
 privileged user.
 .
 KAuth is part of KDE Frameworks 6.
 .
 This package contains helper binaries for development.
 You never should depend on this directly, cause the *.cmake files are
 not included in that package (as they are arch-dependant).

Package: libkf6auth-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Abstraction to system policy and authentication features (documentation)
 KAuth is a framework to let applications perform actions as a
 privileged user.
 .
 KAuth is part of KDE Frameworks 6.
 .
 This package contains the qch documentation files.
Section: doc

Package: libkf6authcore6
Architecture: any
Multi-Arch: same
Depends: libkf6auth-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Abstraction to system policy and authentication features
 KAuth is a framework to let applications perform actions as a
 privileged user.
 .
 KAuth is part of KDE Frameworks 6.
